body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 12px;
  color: #444;
  padding: 0 10px;
  font-family: monospace;
}

b, dt {
  color: #111;
  font-weight: 600;
}

h1,h2,h3 {
  font-family: sans-serif;
  line-height: 1.2;
  color: #111;
}

hr {
  height: 1px;
  background-color: #eee;
  border: none;
  margin: 4.5rem 0;
}

p.subtitle {
  line-height: 1.2em;
  font-size: 10vw;
  font-family: Futura;
  font-weight: 800;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background-color: #333;
  }
  p.subtitle {
    color: #fefefe;
  }

  a {
    color: #7ec8e3;
  }
  a::visited {
    color: #7ec8e3;
  }

  b, dt {
    color: #fefefe;
  }

  h1,h2,h3 {
    color: #fefefe;
  }
}
