body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 12px;
  color: #444;
  padding: 0 10px;
  font-family: monospace;
  background-color: #fffcec;
}

b, dt {
  color: #111;
  font-weight: 600;
}

h1,h2,h3 {
  font-family: sans-serif;
  line-height: 1.2;
  color: #111;
}

hr {
  height: 1px;
  background-color: #eee;
  border: none;
  margin: 4.5rem 0;
}

p.subtitle {
  line-height: 1.2em;
  font-size: 70px;
  font-family: Futura;
  font-weight: 800;
  background: -webkit-linear-gradient(#ff0000, #f0ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* @media (prefers-color-scheme: dark) { */
/*   body { */
/*     color: #ddd; */
/*     background-color: #333; */
/*   } */

/*   b, dt { */
/*     color: #fefefe; */
/*   } */

/*   h1,h2,h3 { */
/*     color: #fefefe; */
/*   } */
/* } */
